In [1]:
import pandas as pd
import json
from datetime import datetime

In [2]:
df=pd.read_csv('D:\CSVtoJSON\csv.csv')

In [3]:
df1 = df.drop_duplicates(
  subset = ['click_id', 'click_timestamp'],
  keep = 'last').reset_index(drop = True)

In [4]:
df1.dtypes

click_id            int64
click_timestamp    object
dtype: object

In [5]:
df1['time'] = pd.to_datetime(df1['click_timestamp'], errors='coerce')

In [6]:
df1[df1['time'].isin(['NaT'])]

     click_id click_timestamp time
3           4       1/1/2023]  NaT
16         18       1/1/2023]  NaT
47         55       1/5/2023]  NaT
91        100      1/8/2023]]  NaT
128       137       1/9/20233  NaT
129       138       1/9/20233  NaT
134       143       1/9/20233  NaT
142       151       1/9/20233  NaT

In [7]:
df1['click_timestamp']=df1['click_timestamp'].str.replace(']','').str.replace('20233','2023')

C:\Users\VALIAN~1.HAR\AppData\Local\Temp/ipykernel_12276/3947088725.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['click_timestamp']=df1['click_timestamp'].str.replace(']','').str.replace('20233','2023')

In [8]:
final_csv=df1[['click_id','click_timestamp']].rename(columns={"click_id": "count", "click_timestamp": "date"})

In [9]:
final_csv=final_csv.groupby('date').count().reset_index()

In [10]:
final_csv=final_csv.sort_values(by='date', ascending=True)

In [11]:
final_csv['date'] = pd.to_datetime(final_csv['date'], errors='coerce')

In [12]:
final_csv['date']=final_csv['date'].astype(str)

In [13]:
final_csv.to_json('D:\CSVtoJSON\example.json',orient='records')